.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.5;
}

.newsletter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 39px;
  border-radius: 5px;
  color: white;
  background-color: orange;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.newsletter h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.newsletter input {
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  &:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  background-color: #f0f0f0;
}

.newsletter button {
  margin-bottom: 10px;
  width: auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  &:hover {
    background-color: #0056b3;
  }
}

.newsletter p {
  margin-bottom: 10px;
}
 